{
  "extends": ["thai-soup"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/consistent-type-definitions": "off"
  }
}
